In [1]:
import openai
import pandas as pd
import numpy as np
import json
import os
from scipy import stats

In [2]:
os.chdir('/Users/chrissoria/Documents/Research/Categorization_AI_experiments')
current_directory = os.getcwd()
print(current_directory)

/Users/chrissoria/Documents/Research/Categorization_AI_experiments

In [3]:
Claude = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="Claude").drop(["Comments", "Response"], axis=1)
Chris = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="Chris").drop(["Comments", "Response"], axis=1)
Rebeca = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="Rebeca").drop(["Comments", "Response"], axis=1)
Nigel = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="Nigel").drop(["Comments", "Response"], axis=1)
Single_GPT = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="Single_GPT").drop(["a19i"], axis=1)
All_GPT = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="All_GPT").drop(["a19i","JSON"], axis=1)
All_Descriptive_GPT = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="All_Descriptive_GPT").drop(["a19i","JSON"], axis=1)
All_Summarize_GPT = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="All_Summarize_GPT").drop(["a19i","JSON","summary"], axis=1)
All_COT_GPT1 = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="All_COT_GPT1").drop(["a19i","JSON","Key_Reasons"], axis=1)
All_COT_GPT2 = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="All_COT_GPT2").drop(["a19i","JSON","Key_Reasons"], axis=1)
All_COT_GPT4 = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="All_COT_gpt4").drop(["a19i","JSON","Key_Reasons","JSON_clean"], axis=1)
ALL_TOT_GPT = pd.read_excel("data/a19i/a19i_main_codes.xlsx", engine='openpyxl', sheet_name="ALL_TOT").drop(["a19i","categorization1","categorization2","categorization3","reasons","TOT"], axis=1)

In [4]:
Claude = Claude.iloc[:200, :6]
print(f"The dataframe Claude has {len(Claude)} rows.")

Chris = Chris.iloc[:200, :6]
print(f"The dataframe Chris has {len(Chris)} rows.")

Rebeca = Rebeca.iloc[:200, :6]
print(f"The dataframe Rebeca has {len(Rebeca)} rows.")

Nigel = Nigel.iloc[:200, :6]
print(f"The dataframe Nigel has {len(Nigel)} rows.")
print(f"The dataframe Single_GPT has {len(Single_GPT)} rows.")
print(f"The dataframe All_GPT has {len(All_GPT)} rows.")
print(f"The dataframe All_Descriptive_GPT has {len(All_Descriptive_GPT)} rows.")
print(f"The dataframe All_Summarize_GPT has {len(All_Summarize_GPT)} rows.")
print(f"The dataframe All_COT_GPT1 has {len(All_COT_GPT1)} rows.")
print(f"The dataframe All_COT_GPT2 has {len(All_COT_GPT2)} rows.")
print(f"The dataframe All_COT_GPT4 has {len(All_COT_GPT4)} rows.")
print(f"The dataframe ALL_TOT has {len(ALL_TOT_GPT)} rows.")

The dataframe Claude has 200 rows.
The dataframe Chris has 200 rows.
The dataframe Rebeca has 200 rows.
The dataframe Nigel has 200 rows.
The dataframe Single_GPT has 200 rows.
The dataframe All_GPT has 200 rows.
The dataframe All_Descriptive_GPT has 200 rows.
The dataframe All_Summarize_GPT has 200 rows.
The dataframe All_COT_GPT1 has 200 rows.
The dataframe All_COT_GPT2 has 200 rows.
The dataframe All_COT_GPT4 has 200 rows.
The dataframe ALL_TOT has 200 rows.

In [5]:
Claude.fillna(0, inplace=True)
Chris.fillna(0, inplace=True)
Rebeca.fillna(0, inplace=True)
Nigel.fillna(0, inplace=True)
Single_GPT.fillna(0, inplace=True)
All_GPT.fillna(0, inplace=True)
All_Descriptive_GPT.fillna(0, inplace=True)
All_Summarize_GPT.fillna(0, inplace=True)
All_COT_GPT1.fillna(0, inplace=True)
All_COT_GPT4.fillna(0, inplace=True)
ALL_TOT_GPT.fillna(0, inplace=True)

In [6]:
Claude = Claude.astype(int, errors='ignore')
Chris = Chris.astype(int, errors='ignore')
Rebeca = Rebeca.astype(int, errors='ignore')
Nigel = Nigel.astype(int, errors='ignore')

In [7]:
Claude.head()

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely"
0,0,0,0,0,0,0
1,1,0,0,0,0,0
2,1,0,0,0,0,0
3,0,0,1,0,0,0
4,0,0,0,0,0,1

Correlations with Chris

In [8]:
correlations = []
p_values = []

# Iterate over the first 6 columns in Chris and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    chris_col = Chris.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(Chris[chris_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(Chris[chris_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df1 = pd.DataFrame({'Correlation_Chris_Claude': correlations, 'P_value_Chris_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df1)

                             Correlation_Chris_Claude  P_value_Chris_Claude
Partner or spouse                            0.881825              0.180367
Relationship end                             0.883653              1.000000
Own job/school/career                        0.952800              0.565006
Partner’s job/school/career                  0.883653              1.000000
Financial                                    0.861653              0.318525
Housing, concretely                          0.727535              0.468234

correlations with Rebeca

In [9]:
Rebeca.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    reb_col = Rebeca.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(Rebeca[reb_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(Rebeca[reb_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df2 = pd.DataFrame({'Correlation_Rebeca_Claude': correlations, 'P_value_Rebeca_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df2)

                             Correlation_Rebeca_Claude  P_value_Rebeca_Claude
Partner or spouse                             0.881917               0.024975
Relationship end                              0.883653               1.000000
Own job/school/career                         0.835327               0.011058
Partner’s job/school/career                   0.877336               0.157819
Financial                                     0.858151               0.739793
Housing, concretely                           0.888235               0.058596

In [10]:
Nigel.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    nigel_col = Nigel.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(Nigel[nigel_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(Nigel[nigel_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df3 = pd.DataFrame({'Correlation_Nigel_Claude': correlations, 'P_value_Nigel_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df3)

                             Correlation_Nigel_Claude  P_value_Nigel_Claude
Partner or spouse                            0.631847              0.157819
Relationship end                             0.668770              0.180367
Own job/school/career                        0.785145              0.166088
Partner’s job/school/career                  0.448020              0.739793
Financial                                    0.852338              0.095670
Housing, concretely                          0.567805              0.144562

In [11]:
Single_GPT.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    single_gpt_col = Single_GPT.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(Single_GPT[single_gpt_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(Single_GPT[single_gpt_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df4 = pd.DataFrame({'Correlation_SingleGPT_Claude': correlations, 'P_value_SingleGPT_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df4)

                             Correlation_SingleGPT_Claude  \
Partner or spouse                                0.780863
Relationship end                                 0.617452
Own job/school/career                            0.870526
Partner’s job/school/career                      0.694186
Financial                                        0.696732
Housing, concretely                              0.522558

                             P_value_SingleGPT_Claude
Partner or spouse                            0.003654
Relationship end                             0.000260
Own job/school/career                        0.480877
Partner’s job/school/career                  0.655853
Financial                                    0.000019
Housing, concretely                          0.715979

In [12]:
All_GPT.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    all_gpt_col = All_GPT.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(All_GPT[all_gpt_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(All_GPT[all_gpt_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df5 = pd.DataFrame({'Correlation_AllGPT_Claude': correlations, 'P_value_AllGPT_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df5)

                             Correlation_AllGPT_Claude  P_value_AllGPT_Claude
Partner or spouse                             0.882498               0.013936
Relationship end                              0.859197               0.083261
Own job/school/career                         0.763502               0.796985
Partner’s job/school/career                   0.810159               0.083261
Financial                                     0.770875               0.000130
Housing, concretely                           0.416463               0.506349

In [13]:
All_Descriptive_GPT.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    all_desc_gpt_col = All_Descriptive_GPT.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(All_Descriptive_GPT[all_desc_gpt_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(All_Descriptive_GPT[all_desc_gpt_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df6 = pd.DataFrame({'Correlation_All_Desc_GPT_Claude': correlations, 'P_value_All_Desc_GPT_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df6)

                             Correlation_All_Desc_GPT_Claude  \
Partner or spouse                                   0.899735
Relationship end                                    0.835530
Own job/school/career                               0.817574
Partner’s job/school/career                         0.658108
Financial                                           0.723648
Housing, concretely                                 0.725238

                             P_value_All_Desc_GPT_Claude
Partner or spouse                               0.024975
Relationship end                                0.565006
Own job/school/career                           0.249202
Partner’s job/school/career                     0.024975
Financial                                       0.000098
Housing, concretely                             0.108477

In [14]:
All_Summarize_GPT.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    all_summ_gpt_col = All_Summarize_GPT.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(All_Summarize_GPT[all_summ_gpt_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(All_Summarize_GPT[all_summ_gpt_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df7 = pd.DataFrame({'Correlation_All_Summ_GPT_Claude': correlations, 'P_value_All_Summ_GPT_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df7)

                             Correlation_All_Summ_GPT_Claude  \
Partner or spouse                                   0.866025
Relationship end                                    0.823292
Own job/school/career                               0.820548
Partner’s job/school/career                         0.810159
Financial                                           0.805307
Housing, concretely                                 0.531250

                             P_value_All_Summ_GPT_Claude
Partner or spouse                               0.007829
Relationship end                                0.045224
Own job/school/career                           0.367024
Partner’s job/school/career                     0.083261
Financial                                       0.007213
Housing, concretely                             1.000000

In [15]:
All_COT_GPT1.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    all_cot1_gpt_col = All_COT_GPT1.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(All_COT_GPT1[all_cot1_gpt_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(All_COT_GPT1[all_cot1_gpt_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df8 = pd.DataFrame({'Correlation_All_COT1_GPT_Claude': correlations, 'P_value_All_COT1_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df8)

                             Correlation_All_COT1_GPT_Claude  \
Partner or spouse                                   0.806064
Relationship end                                    0.899786
Own job/school/career                               0.758863
Partner’s job/school/career                         0.737672
Financial                                           0.804876
Housing, concretely                                 0.455091

                             P_value_All_COT1_Claude
Partner or spouse                           0.318525
Relationship end                            0.157819
Own job/school/career                       0.796985
Partner’s job/school/career                 0.045224
Financial                                   0.166088
Housing, concretely                         0.077049

In [16]:
All_COT_GPT2.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    all_cot2_gpt_col = All_COT_GPT2.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(All_COT_GPT2[all_cot2_gpt_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(All_COT_GPT2[all_cot2_gpt_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df9 = pd.DataFrame({'Correlation_All_COT2_GPT_Claude': correlations, 'P_value_All_COT2_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df9)

                             Correlation_All_COT2_GPT_Claude  \
Partner or spouse                                   0.893206
Relationship end                                    0.883653
Own job/school/career                               0.872591
Partner’s job/school/career                         0.658108
Financial                                           0.774411
Housing, concretely                                 0.713738

                             P_value_All_COT2_Claude
Partner or spouse                           0.180367
Relationship end                            1.000000
Own job/school/career                       1.000000
Partner’s job/school/career                 0.024975
Financial                                   0.197454
Housing, concretely                         0.638523

In [17]:
All_COT_GPT4.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    all_cot4_gpt_col = All_COT_GPT4.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(All_COT_GPT4[all_cot4_gpt_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(All_COT_GPT4[all_cot4_gpt_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df9_5 = pd.DataFrame({'Correlation_All_COT4_GPT_Claude': correlations, 'P_value_All_COT4_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df9_5)

                             Correlation_All_COT4_GPT_Claude  \
Partner or spouse                                   0.868252
Relationship end                                    0.823292
Own job/school/career                               0.804876
Partner’s job/school/career                         0.668770
Financial                                           0.768951
Housing, concretely                                 0.682557

                             P_value_All_COT4_Claude
Partner or spouse                           0.415582
Relationship end                            0.045224
Own job/school/career                       0.166088
Partner’s job/school/career                 0.180367
Financial                                   0.045224
Housing, concretely                         0.021431

In [18]:
ALL_TOT_GPT.columns = Claude.columns

correlations = []
p_values = []

# Iterate over the first 6 columns in Rebeca and Claude
for i in range(6):  # Assuming 6 columns to be considered
    # Get the column names
    all_tot_gpt_col = ALL_TOT_GPT.columns[i]
    claude_col = Claude.columns[i]

    # Calculate the correlation between the columns
    correlation, _ = stats.pointbiserialr(ALL_TOT_GPT[all_tot_gpt_col], Claude[claude_col])
    _, p_value = stats.ttest_rel(ALL_TOT_GPT[all_tot_gpt_col], Claude[claude_col])

    # Append the correlation to the list, rounded to two decimal places
    correlations.append(correlation)
    p_values.append(p_value)

# Create a DataFrame with the correlations
correlation_df10 = pd.DataFrame({'Correlation_All_TOT_GPT_Claude': correlations, 'P_value_All_TOT_Claude': p_values}, index=Claude.columns[:6])

# Print the correlations
print(correlation_df10)

                             Correlation_All_TOT_GPT_Claude  \
Partner or spouse                                  0.725714
Relationship end                                   0.946197
Own job/school/career                              0.747070
Partner’s job/school/career                        0.877336
Financial                                          0.852995
Housing, concretely                                0.453410

                             P_value_All_TOT_Claude
Partner or spouse                      1.000000e+00
Relationship end                       3.185249e-01
Own job/school/career                  6.385231e-01
Partner’s job/school/career            1.578188e-01
Financial                              5.758621e-02
Housing, concretely                    9.753983e-10

In [19]:
# List of all your correlation DataFrames
correlation_dfs = [correlation_df1, correlation_df2, correlation_df3, correlation_df4, correlation_df5, correlation_df6, correlation_df7, correlation_df8, correlation_df9, correlation_df9_5, correlation_df10]

# Concatenating all DataFrames into one
all_correlations_df = pd.concat(correlation_dfs, axis=1)

# Printing the concatenated DataFrame
print(all_correlations_df)

                             Correlation_Chris_Claude  P_value_Chris_Claude  \
Partner or spouse                            0.881825              0.180367
Relationship end                             0.883653              1.000000
Own job/school/career                        0.952800              0.565006
Partner’s job/school/career                  0.883653              1.000000
Financial                                    0.861653              0.318525
Housing, concretely                          0.727535              0.468234

                             Correlation_Rebeca_Claude  P_value_Rebeca_Claude  \
Partner or spouse                             0.881917               0.024975
Relationship end                              0.883653               1.000000
Own job/school/career                         0.835327               0.011058
Partner’s job/school/career                   0.877336               0.157819
Financial                                     0.858151               0.739793
Housing, concretely                           0.888235               0.058596

                             Correlation_Nigel_Claude  P_value_Nigel_Claude  \
Partner or spouse                            0.631847              0.157819
Relationship end                             0.668770              0.180367
Own job/school/career                        0.785145              0.166088
Partner’s job/school/career                  0.448020              0.739793
Financial                                    0.852338              0.095670
Housing, concretely                          0.567805              0.144562

                             Correlation_SingleGPT_Claude  \
Partner or spouse                                0.780863
Relationship end                                 0.617452
Own job/school/career                            0.870526
Partner’s job/school/career                      0.694186
Financial                                        0.696732
Housing, concretely                              0.522558

                             P_value_SingleGPT_Claude  \
Partner or spouse                            0.003654
Relationship end                             0.000260
Own job/school/career                        0.480877
Partner’s job/school/career                  0.655853
Financial                                    0.000019
Housing, concretely                          0.715979

                             Correlation_AllGPT_Claude  P_value_AllGPT_Claude  \
Partner or spouse                             0.882498               0.013936
Relationship end                              0.859197               0.083261
Own job/school/career                         0.763502               0.796985
Partner’s job/school/career                   0.810159               0.083261
Financial                                     0.770875               0.000130
Housing, concretely                           0.416463               0.506349

                             ...  Correlation_All_Summ_GPT_Claude  \
Partner or spouse            ...                         0.866025
Relationship end             ...                         0.823292
Own job/school/career        ...                         0.820548
Partner’s job/school/career  ...                         0.810159
Financial                    ...                         0.805307
Housing, concretely          ...                         0.531250

                             P_value_All_Summ_GPT_Claude  \
Partner or spouse                               0.007829
Relationship end                                0.045224
Own job/school/career                           0.367024
Partner’s job/school/career                     0.083261
Financial                                       0.007213
Housing, concretely                             1.000000

                             Correlation_All_COT1_GPT_Claude  \
Partner or spouse                                   0.806064
Relationship end                                    0.899786
Own job/school/career                               0.758863
Partner’s job/school/career                         0.737672
Financial                                           0.804876
Housing, concretely                                 0.455091

                             P_value_All_COT1_Claude  \
Partner or spouse                           0.318525
Relationship end                            0.157819
Own job/school/career                       0.796985
Partner’s job/school/career                 0.045224
Financial                                   0.166088
Housing, concretely                         0.077049

                             Correlation_All_COT2_GPT_Claude  \
Partner or spouse                                   0.893206
Relationship end                                    0.883653
Own job/school/career                               0.872591
Partner’s job/school/career                         0.658108
Financial                                           0.774411
Housing, concretely                                 0.713738

                             P_value_All_COT2_Claude  \
Partner or spouse                           0.180367
Relationship end                            1.000000
Own job/school/career                       1.000000
Partner’s job/school/career                 0.024975
Financial                                   0.197454
Housing, concretely                         0.638523

                             Correlation_All_COT4_GPT_Claude  \
Partner or spouse                                   0.868252
Relationship end                                    0.823292
Own job/school/career                               0.804876
Partner’s job/school/career                         0.668770
Financial                                           0.768951
Housing, concretely                                 0.682557

                             P_value_All_COT4_Claude  \
Partner or spouse                           0.415582
Relationship end                            0.045224
Own job/school/career                       0.166088
Partner’s job/school/career                 0.180367
Financial                                   0.045224
Housing, concretely                         0.021431

                             Correlation_All_TOT_GPT_Claude  \
Partner or spouse                                  0.725714
Relationship end                                   0.946197
Own job/school/career                              0.747070
Partner’s job/school/career                        0.877336
Financial                                          0.852995
Housing, concretely                                0.453410

                             P_value_All_TOT_Claude
Partner or spouse                      1.000000e+00
Relationship end                       3.185249e-01
Own job/school/career                  6.385231e-01
Partner’s job/school/career            1.578188e-01
Financial                              5.758621e-02
Housing, concretely                    9.753983e-10

[6 rows x 22 columns]

In [20]:
all_correlations_df.head()

,Correlation_Chris_Claude,P_value_Chris_Claude,Correlation_Rebeca_Claude,P_value_Rebeca_Claude,Correlation_Nigel_Claude,P_value_Nigel_Claude,Correlation_SingleGPT_Claude,P_value_SingleGPT_Claude,Correlation_AllGPT_Claude,P_value_AllGPT_Claude,...,Correlation_All_Summ_GPT_Claude,P_value_All_Summ_GPT_Claude,Correlation_All_COT1_GPT_Claude,P_value_All_COT1_Claude,Correlation_All_COT2_GPT_Claude,P_value_All_COT2_Claude,Correlation_All_COT4_GPT_Claude,P_value_All_COT4_Claude,Correlation_All_TOT_GPT_Claude,P_value_All_TOT_Claude
Partner or spouse,0.881825,0.180367,0.881917,0.024975,0.631847,0.157819,0.780863,0.003654,0.882498,0.013936,...,0.866025,0.007829,0.806064,0.318525,0.893206,0.180367,0.868252,0.415582,0.725714,1.000000
Relationship end,0.883653,1.000000,0.883653,1.000000,0.668770,0.180367,0.617452,0.000260,0.859197,0.083261,...,0.823292,0.045224,0.899786,0.157819,0.883653,1.000000,0.823292,0.045224,0.946197,0.318525
Own job/school/career,0.952800,0.565006,0.835327,0.011058,0.785145,0.166088,0.870526,0.480877,0.763502,0.796985,...,0.820548,0.367024,0.758863,0.796985,0.872591,1.000000,0.804876,0.166088,0.747070,0.638523
Partner’s job/school/career,0.883653,1.000000,0.877336,0.157819,0.448020,0.739793,0.694186,0.655853,0.810159,0.083261,...,0.810159,0.083261,0.737672,0.045224,0.658108,0.024975,0.668770,0.180367,0.877336,0.157819
Financial,0.861653,0.318525,0.858151,0.739793,0.852338,0.095670,0.696732,0.000019,0.770875,0.000130,...,0.805307,0.007213,0.804876,0.166088,0.774411,0.197454,0.768951,0.045224,0.852995,0.057586

In [21]:
all_correlations_df.to_csv('data/All_Categorizations_Compared.csv')