In [1]:
import openai
import pandas as pd
import numpy as np
import json
import os
from scipy import stats

In [2]:
os.chdir('/Users/chrissoria/Documents/Research/Categorization_AI_experiments')
current_directory = os.getcwd()
print(current_directory)

/Users/chrissoria/Documents/Research/Categorization_AI_experiments

In [3]:
Main = pd.read_excel("../UCNets_Classification/Hand_Coding_Surveys/a19i/a19i_Master.xlsx", engine='openpyxl', sheet_name="Final").drop(["Response","prim_key"], axis=1)
Main = Main.iloc[:200, :6]
temp_00 = pd.read_csv('data/a19i_00_creative_6_cats.csv').drop(['survey_response','chain1','chain2','json'], axis=1)
temp_25 = pd.read_csv('data/a19i_25_creative_6_cats.csv').drop(['survey_response','chain1','chain2','json'], axis=1)
temp_50 = pd.read_csv('data/a19i_50_creative_6_cats.csv').drop(['survey_response','chain1','chain2','json'], axis=1)
temp_75 = pd.read_csv('data/a19i_75_creative_6_cats.csv').drop(['survey_response','chain1','chain2','json'], axis=1)

Main

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely"
0,0.0,0,0,0,0,0
1,1.0,0,0,0,0,0
2,1.0,0,0,0,0,0
3,0.0,0,1,0,0,0
4,0.0,0,0,0,0,0
...,...,...,...,...,...,...
195,0.0,0,0,0,0,0
196,0.0,0,0,0,0,0
197,0.0,0,0,0,0,0
198,0.0,0,1,0,0,1
199,0.0,0,0,0,0,1

In [4]:
print(f"The dataframe Main has {len(Main)} rows.")

print(f"The dataframe temp_25 has {len(temp_00)} rows.")

print(f"The dataframe temp_25 has {len(temp_25)} rows.")

print(f"The dataframe temp_50 has {len(temp_50)} rows.")

print(f"The dataframe temp_75 has {len(temp_75)} rows.")

Main.fillna(0, inplace=True)
temp_00.fillna(0, inplace=True)
temp_25.fillna(0, inplace=True)
temp_50.fillna(0, inplace=True)
temp_75.fillna(0, inplace=True)

The dataframe Main has 200 rows.
The dataframe temp_25 has 200 rows.
The dataframe temp_25 has 200 rows.
The dataframe temp_50 has 200 rows.
The dataframe temp_75 has 200 rows.

In [5]:
Main = Main.astype(int, errors='ignore')
temp_00 = temp_00.astype(int, errors='ignore')
temp_25 = temp_25.astype(int, errors='ignore')
temp_50 = temp_50.astype(int, errors='ignore')
temp_75 = temp_75.astype(int, errors='ignore')

In [6]:
Main.head()

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely"
0,0,0,0,0,0,0
1,1,0,0,0,0,0
2,1,0,0,0,0,0
3,0,0,1,0,0,0
4,0,0,0,0,0,0

In [7]:
correlations = []
p_values = []

for i in range(6):  
    main_col = Main.columns[i]
    temp_00_col = temp_00.columns[i]

    correlation, _ = stats.pointbiserialr(Main[main_col], temp_00[temp_00_col])
    _, p_value = stats.ttest_rel(Main[main_col], temp_00[temp_00_col])

    correlations.append(correlation)
    p_values.append(p_value)

correlation_df1 = pd.DataFrame({'Correlation_Main_00': correlations, 'P_value_Main_00': p_values}, index=Main.columns[:6])

print(correlation_df1)

                             Correlation_Main_00  P_value_Main_00
Partner or spouse                       0.736535         0.000147
Relationship end                        0.716860         0.007829
Own job/school/career                   0.870548         0.019251
Partner’s job/school/career             0.846114         0.083261
Financial                               0.759124         0.000500
Housing, concretely                     0.642069         0.001547

In [8]:
correlations = []
p_values = []

for i in range(6):  
    main_col = Main.columns[i]
    temp_25_col = temp_25.columns[i]

    correlation, _ = stats.pointbiserialr(Main[main_col], temp_25[temp_25_col])
    _, p_value = stats.ttest_rel(Main[main_col], temp_25[temp_25_col])

    correlations.append(correlation)
    p_values.append(p_value)

correlation_df2 = pd.DataFrame({'Correlation_Main_25': correlations, 'P_value_Main_25': p_values}, index=Main.columns[:6])

print(correlation_df2)

                             Correlation_Main_25  P_value_Main_25
Partner or spouse                       0.711458         0.000047
Relationship end                        0.692219         0.004419
Own job/school/career                   0.896270         0.058596
Partner’s job/school/career             0.846114         0.083261
Financial                               0.776874         0.000130
Housing, concretely                     0.693334         0.000032

In [9]:
correlations = []
p_values = []

for i in range(6):  
    main_col = Main.columns[i]
    temp_50_col = temp_50.columns[i]

    correlation, _ = stats.pointbiserialr(Main[main_col], temp_50[temp_50_col])
    _, p_value = stats.ttest_rel(Main[main_col], temp_50[temp_50_col])

    correlations.append(correlation)
    p_values.append(p_value)

correlation_df3 = pd.DataFrame({'Correlation_Main_50': correlations, 'P_value_Main_50': p_values}, index=Main.columns[:6])

print(correlation_df3)

                             Correlation_Main_50  P_value_Main_50
Partner or spouse                       0.793492         0.001418
Relationship end                        0.669723         0.002501
Own job/school/career                   0.896270         0.058596
Partner’s job/school/career             0.807947         0.045224
Financial                               0.761505         0.004419
Housing, concretely                     0.721336         0.001589

In [10]:
correlations = []
p_values = []

for i in range(6):  
    main_col = Main.columns[i]
    temp_75_col = temp_75.columns[i]

    correlation, _ = stats.pointbiserialr(Main[main_col], temp_75[temp_75_col])
    _, p_value = stats.ttest_rel(Main[main_col], temp_75[temp_75_col])

    correlations.append(correlation)
    p_values.append(p_value)

correlation_df4 = pd.DataFrame({'Correlation_Main_75': correlations, 'P_value_Main_75': p_values}, index=Main.columns[:6])

print(correlation_df4)

                             Correlation_Main_75  P_value_Main_75
Partner or spouse                       0.763763         0.000457
Relationship end                        0.744024         0.013936
Own job/school/career                   0.896270         0.058596
Partner’s job/school/career             0.889757         0.157819
Financial                               0.694597         0.000115
Housing, concretely                     0.682443         0.000196

In [12]:
correlations = pd.concat([correlation_df1, correlation_df2, correlation_df3, correlation_df4], axis=1)

In [17]:
mean_row = correlations.mean()
mean_row

Correlation_Main_00    0.761875
P_value_Main_00        0.018756
Correlation_Main_25    0.769378
P_value_Main_25        0.024414
Correlation_Main_50    0.775045
P_value_Main_50        0.018958
Correlation_Main_75    0.778476
P_value_Main_75        0.038520
dtype: float64

Conclusions:

Changing the temperature doesn't seem to do much for this task. These categories are pretty well defined and easy to pull out so perhaps that's why it's not making much difference. I'll leave it at .25 just because that seems to be a good point where some of the fuzzier categories can do well but not affect the more well-defined ones. For this type of question and categorization, temperature doesn't seem to matter.