In [1]:
import pandas as pd
import numpy as np
import os
import re

In [2]:
os.chdir('/Users/chrissoria/Documents/Research/UCNets_Classification/Hand_Coding_Surveys/a19i')
current_directory = os.getcwd()
print(current_directory)

/Users/chrissoria/Documents/Research/UCNets_Classification/Hand_Coding_Surveys/a19i

In [3]:
Claude = pd.read_excel("a19i_Master.xlsx", engine='openpyxl', sheet_name="Claude").drop(["Comments", "Response","prim_key"], axis=1)
Chris = pd.read_excel("a19i_Master.xlsx", engine='openpyxl', sheet_name="Chris").drop(["Comments", "Response"], axis=1)
Rebeca = pd.read_excel("a19i_Master.xlsx", engine='openpyxl', sheet_name="Rebeca").drop(["Comments", "Response"], axis=1)

In [4]:
Claude = Claude.fillna(0)
Claude = Claude.applymap(lambda x: int(x) if isinstance(x, (int, float)) else x)
Chris = Chris.fillna(0)
Chris = Chris.applymap(lambda x: int(x) if isinstance(x, (int, float)) else x)
Rebeca = Rebeca.fillna(0)
Rebeca = Rebeca.applymap(lambda x: int(x) if isinstance(x, (int, float)) else x)


Claude.head()

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely",New living environment,Family Support,Meet and Make Friends,Conflicts,Forced to move,Other reason,Not clear
0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,0,0,0

In [5]:
Claude['cf_category_id'] = Claude.apply(lambda row: ''.join(row.astype(str)), axis=1)
Chris['cs_category_id'] = Chris.apply(lambda row: ''.join(row.astype(str)), axis=1)
Rebeca['re_category_id'] = Rebeca.apply(lambda row: ''.join(row.astype(str)), axis=1)
Claude

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely",New living environment,Family Support,Meet and Make Friends,Conflicts,Forced to move,Other reason,Not clear,cf_category_id
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0000000100000
1,1,0,0,0,0,0,0,0,0,0,0,0,0,1000000000000
2,1,0,0,0,0,0,0,0,0,0,0,0,0,1000000000000
3,0,0,1,0,0,0,1,0,0,0,0,0,0,0010001000000
4,0,0,0,0,0,1,0,1,0,0,0,0,0,0000010100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,0,0,0,0,0,0,0,0,0,0,0,1,0,0000000000010
419,0,0,0,0,0,0,0,1,0,0,0,0,0,0000000100000
420,0,0,0,0,1,0,0,0,0,0,0,0,0,0000100000000
421,1,0,0,0,0,0,0,0,0,0,0,0,0,1000000000000
422,0,0,0,0,0,1,0,0,0,0,0,0,0,0000010000000

In [6]:
Claude = pd.merge(Claude, Chris[['cs_category_id']], left_index=True, right_index=True)
Claude = pd.merge(Claude, Rebeca[['re_category_id']], left_index=True, right_index=True)

Below, I'm generating measures of agreement, where if two out of three people agree on a certain coding scheme, we will use it. I'm also generating a varible for identifying where we all disagree where I will go through manually and check which of the three works best.

In [7]:
Claude['All_Match'] = Claude.apply(lambda row: 0 if row['cs_category_id'] != row['cf_category_id'] or row['cs_category_id'] != row['re_category_id'] or row['cf_category_id'] != row['re_category_id'] else 1, axis=1)
Claude['CF_RE_Match'] = Claude.apply(lambda row: 1 if row['re_category_id'] == row['cf_category_id'] else 0, axis = 1)
Claude['CF_CS_Match'] = Claude.apply(lambda row: 1 if row['cf_category_id'] == row['cs_category_id'] else 0, axis = 1)
Claude['RE_CS_Match'] = Claude.apply(lambda row: 1 if row['re_category_id'] == row['cs_category_id'] else 0, axis = 1)
Claude['No_Match'] = Claude.apply(lambda row: 1 if row['All_Match'] == 0 and row['CF_RE_Match'] == 0 and row['CF_CS_Match'] == 0 and row['RE_CS_Match'] == 0 else 0, axis=1)

Claude

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely",New living environment,Family Support,Meet and Make Friends,Conflicts,...,Other reason,Not clear,cf_category_id,cs_category_id,re_category_id,All_Match,CF_RE_Match,CF_CS_Match,RE_CS_Match,No_Match
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0000000100000,0000000100000,0000000100000,1,1,1,1,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,1000000000000,1000000000000,1000000000000,1,1,1,1,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1000000000000,1000000000000,1000000000000,1,1,1,1,0
3,0,0,1,0,0,0,1,0,0,0,...,0,0,0010001000000,0010001000000,0010001000000,1,1,1,1,0
4,0,0,0,0,0,1,0,1,0,0,...,0,0,0000010100000,0000000000010,0000001000000,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,0,0,0,0,0,0,0,0,0,0,...,1,0,0000000000010,0000000000000,0000000000010,0,1,0,0,0
419,0,0,0,0,0,0,0,1,0,0,...,0,0,0000000100000,0000000100000,0000000100000,1,1,1,1,0
420,0,0,0,0,1,0,0,0,0,0,...,0,0,0000100000000,0000100000000,0000100000000,1,1,1,1,0
421,1,0,0,0,0,0,0,0,0,0,...,0,0,1000000000000,1000000000000,1000000000000,1,1,1,1,0
422,0,0,0,0,0,1,0,0,0,0,...,0,0,0000010000000,0000010000010,0000010000000,0,1,0,0,0

The protocal for deciding on a categorization will be if all three agree, then use Claude. \
If Claude and Chris agree, use Claude. \
If Claude and Rebeca agree, use Claude. \
If Chris and Rebeca agree, use Chris. \
If none match, use Chris (and then I will manually review these myself. \
There were only 44 places where we all three disagreed. \
After GPT there were 29.

In [8]:
columns_to_replace = Claude.columns[0:12]

Claude.loc[Claude['RE_CS_Match'] == 1, columns_to_replace] = Chris.loc[Claude.index[Claude['RE_CS_Match'] == 1], columns_to_replace]
Claude.loc[Claude['No_Match'] == 1, columns_to_replace] = Chris.loc[Claude.index[Claude['No_Match'] == 1], columns_to_replace]

In [9]:
Response = pd.read_excel("a19i_Master.xlsx", engine='openpyxl', sheet_name="Claude")
Claude['Response'] = Response['Response']

In [ ]:
# Read the response column from the Excel file
response = pd.read_excel("a19i_Master.xlsx", engine='openpyxl', sheet_name="Chris", usecols="A")

# Rename the column to "Response"
response = response.rename(columns={"A": "Response"})

# Add the response column as the first column in the 'Chris' DataFrame
Chris.insert(0, "Response", response)

Chris.to_excel("Chris_with_correlations3.xlsx", index=False)
Chris

In [10]:
Claude.to_csv('Master_Codes_a19i.csv', index = False)

In [26]:
import openai
from langchain.chat_models import ChatOpenAI
from langchain.prompts import ChatPromptTemplate
from langchain.prompts.prompt import PromptTemplate #where we change the AI "personality"
from dotenv import load_dotenv, find_dotenv
import json

In [12]:
os.chdir('/Users/chrissoria/Documents/Research/Categorization_AI_experiments')

load_dotenv()
API_KEY = os.environ.get("OPENAI_API_KEY")

_ = load_dotenv(find_dotenv()) # read local .env file

#openai.api_key = os.getenv("api.txt")
COMPLETIONS_MODEL = "text-davinci-002"
BETTER_COMPLETIONS_MODEL = "text-davinci-003" #for my purposes, this is better
LONG_MODEL = "gpt-3.5-turbo-16k"
REGULAR_MODEL = "gpt-3.5-turbo"
GPT_4 = "gpt-4"

chat = ChatOpenAI(temperature=0.0,
                  openai_api_key = API_KEY,
                  verbose=True,
                  model_name=REGULAR_MODEL) #depending on how big of a task

#below, we give the AI a "personality"
template = """The following is a conversation between a human data scientist and an AI who specializes in data categorization. The AI is direct and provides concise responses. If the AI does not know the answer to a question, it truthfully says it does not know.

Current conversation:
{history}
Data Scientist: {input}
AI:"""

chat

ChatOpenAI(cache=None, verbose=True, callbacks=None, callback_manager=None, tags=None, metadata=None, client=<class 'openai.api_resources.chat_completion.ChatCompletion'>, model_name='gpt-3.5-turbo', temperature=0.7, model_kwargs={}, openai_api_key='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', openai_api_base='', openai_organization='', openai_proxy='', request_timeout=None, max_retries=6, streaming=False, n=1, max_tokens=None, tiktoken_model_name=None)

In [14]:
No_Match = Claude[Claude['No_Match'] == 1]

In [18]:
No_Match

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely",New living environment,Family Support,Meet and Make Friends,Conflicts,...,Not clear,cf_category_id,cs_category_id,re_category_id,All_Match,CF_RE_Match,CF_CS_Match,RE_CS_Match,No_Match,Response
4,0,0,0,0,0,0,0,0,0,0,...,0,0000010100000,0000000000010,0000001000000,0,0,0,0,1,wanted to live in my own place outside my pare...
25,0,0,0,0,0,0,0,0,0,1,...,0,0000011000000,0000000001010,0000000010000,0,0,0,0,1,because i didn't like the place. very difficul...
33,0,0,0,0,0,1,0,0,0,0,...,0,0000011000100,0000010000110,0000010000100,0,0,0,0,1,move #1 - 60 day notice from landlordmove #2 -...
38,0,0,0,0,0,0,1,0,0,0,...,0,0000101100000,0000001000010,0000000001000,0,0,0,0,1,the apartment complex was too loud. moved to a...
52,0,0,0,0,0,0,0,0,0,1,...,0,0100000001000,0000000001000,0100000000000,0,0,0,0,1,domestic problems.
65,0,0,0,0,0,0,0,0,0,0,...,0,1000000000000,0000000000001,0000000000010,0,0,0,0,1,moved in with kat
71,0,0,0,0,1,1,0,0,0,0,...,0,0000011100000,0000110000010,0000011000000,0,0,0,0,1,moved to a smaller home that we own in a gated...
76,0,0,1,0,0,0,1,0,0,0,...,0,0010001010000,0010001000000,0000001010000,0,0,0,0,1,i finished law school and didn't want to live ...
96,0,0,0,0,0,0,0,0,0,0,...,0,0000000000100,0000000000110,0000100000000,0,0,0,0,1,"i was in a transitional house, and i had to mo..."
100,0,0,1,0,1,0,0,1,1,0,...,0,0010100100000,0010100110000,0010100110010,0,0,0,0,1,(i'm not sure how i answered the move since la...
109,0,0,0,0,1,0,0,0,0,1,...,0,0000110001000,0000100001010,0000100000000,0,0,0,0,1,i moved because two reasons: i had a work inju...
110,0,0,0,0,0,0,0,0,0,0,...,0,0000010000000,0000000000010,0000001000000,0,0,0,0,1,i was just trying to get into my own place again.
124,0,0,1,0,0,0,1,0,1,0,...,0,0010000000010,0010001010000,0000000010000,0,0,0,0,1,i was living in berkeley at that time as a stu...
130,0,0,0,0,1,0,0,1,0,0,...,0,0000000000100,0000100100010,0000100000000,0,0,0,0,1,because my sister passed away and i was taking...
138,0,0,0,0,0,0,0,0,0,0,...,0,1000000000000,0000000000001,0000000000010,0,0,0,0,1,moved in with someone
143,0,1,0,0,0,1,1,0,0,0,...,0,0000001010000,0100011000000,0000001000000,0,0,0,0,1,i had lived in an apartment near the cal campu...
150,0,0,0,0,0,0,0,0,0,0,...,0,0000010000000,0000000000010,0000001000000,0,0,0,0,1,i moved to get my own place.
153,0,0,0,0,1,0,0,0,0,0,...,0,0000100100000,0000100000010,0000100000000,0,0,0,0,1,we downsized in order to buy this new home and...
178,0,0,0,0,0,0,0,0,0,0,...,0,0000010000000,0000000000010,0000001000000,0,0,0,0,1,got my own apartment
188,0,0,0,0,1,0,0,0,0,0,...,0,0000100000000,0000100000010,0100111000000,0,0,0,0,1,"i inherited money after my aunt (july 13, 2016..."
189,0,0,0,0,0,0,0,0,0,0,...,0,0001000000000,0000000000000,0000000000001,0,0,0,0,1,cathy's work
215,0,0,0,0,1,0,1,0,0,0,...,0,0000100000000,0000101000000,0000110000000,0,0,0,0,1,found newer and cheaper apartment near the train.
222,0,0,0,0,0,0,0,0,0,0,...,0,0000010000000,0000000000010,0000001000000,0,0,0,0,1,moved to a more permanent house in the city
223,0,0,0,0,1,0,0,0,0,0,...,0,0000000000100,0000100000000,0000000000010,0,0,0,0,1,became homeless
228,0,0,1,0,0,0,0,0,0,0,...,0,0000000000010,0010000000010,0010000000000,0,0,0,0,1,i move with semesters in school. when a new se...
237,0,0,0,0,0,0,0,0,0,0,...,0,0000000000100,0000000000001,0000000000010,0,0,0,0,1,my old roommate was leaving so i moved in with...
239,0,0,0,0,0,0,0,0,0,0,...,0,0000000000100,0000000000110,0000000000010,0,0,0,0,1,previous roommates were married and looking to...
246,0,1,1,0,0,0,0,0,0,0,...,0,0110010000000,0110000000010,0110001000000,0,0,0,0,1,move #1: broke up wi my girlfriend who i had b...
279,0,0,0,0,0,0,0,0,0,0,...,0,0000010000000,0000000000010,0000001000000,0,0,0,0,1,i was living with roommates and i got the oppo...
285,0,0,0,0,0,0,0,0,0,0,...,0,0000000000100,0000000000010,0000000000001,0,0,0,0,1,we have the house back to an old tenant
295,0,1,0,0,1,0,0,0,0,0,...,0,0000100000000,0100100000100,0000100000100,0,0,0,0,1,"i moved in with a couple, esther and elliot. w..."
328,0,0,0,0,0,0,0,0,0,0,...,0,0000010000000,0000000000010,0000001000000,0,0,0,0,1,"i have always lived with roommates, and i want..."
346,0,0,0,0,0,0,0,0,0,0,...,0,0000000000010,0000000000001,0000000100000,0,0,0,0,1,moved back home.
356,0,0,0,0,0,0,0,0,0,0,...,0,0000010000000,0000000000001,0000000000010,0,0,0,0,1,old place sucked
360,0,0,0,1,0,0,0,0,0,0,...,0,0010000000000,0001000000000,0001001000000,0,0,0,0,1,boyfriend started grad school in a new city an...
375,0,0,1,0,0,0,0,0,0,0,...,0,0000001000010,0010000000000,0000001000000,0,0,0,0,1,i'm always moving. i think this time last year...
376,1,0,1,0,0,0,1,0,0,0,...,0,0000011000000,1010001000000,1000001000000,0,0,0,0,1,"i had lived right downtown for eight years, ev..."
379,0,0,0,0,0,0,0,0,0,0,...,0,1000000000000,0000000000000,0000000000010,0,0,0,0,1,wanted to move in with jennifer.
385,0,0,0,0,1,0,0,0,0,0,...,0,0000100100000,0000100000010,0000100000000,0,0,0,0,1,could not afford to pay rent in previous apart...
397,0,0,0,0,0,0,0,0,0,0,...,0,0000010000000,0000000000010,0000001000000,0,0,0,0,1,try to build better habits by leaving my paren...
400,0,0,1,0,0,0,0,0,0,0,...,0,0010001000000,0010000000010,0000001000000,0,0,0,0,1,there was a drop in job opportunity and we wan...
410,0,0,0,0,0,1,1,1,0,0,...,0,0000011000000,0000011100000,0000000000000,0,0,0,0,1,"my family and i (formally 5 members total, now..."
415,0,0,0,0,0,0,0,1,0,1,...,0,1000000001000,0000000101000,0000000001000,0,0,0,0,1,i was living with my father and my step- mothe...

In [21]:
survey_input = No_Match['Response'][25] 

category = """1. to start living with or to stay with partner/spouse. \
2. relationship change (divorce, breakup, etc). \
3. the respondent had a job/school/career change, including transferred. \
4. their partner had a job/school/career change, including transferred. \
5. financial reasons (rent is too expensive, pay raise, etc).
6. specific housing features and preferences, different housing conditions \
7. the desire for a new living environment or neighborhood. \
8. moving closer to family members for various purposes. \
9. being closer to friends or expanding one's social circle. \
10. conflicts with living mates, family members, landlord, or neighbors. \
11. compelled to move due to circumstances beyond their control, such as being evicted. \
12. any other reason for moving that does not fit into any predefined category above. \
13. a responses that does not provide sufficient content or meaningful information to determine a valid reason for moving."""

example_JSON = """{ \
"1": "0", \
"2": "1", \
"3": "0", \
"4": 1, \
"5": "0", \
"6": "0",
"7": "0",
"8": "1",
"9": "0",
"10": "0",
"11": "0",
"12": "0",
"13": "0"
}"""

template_string1 = """A survey respondent was asked, "Why did you move?" \
They responded with: "{OBJECT}" \
First, filter out anything in this response that doesn't answer the question, "Why did you move?" \
Second, pull out all the major reasons why they moved without being too specific. \
Format your response in a as few words as possible starting with the words, 'This respondent moved because...'"""

prompt_template1 = ChatPromptTemplate.from_template(template_string1)
prompt_template1.messages[0].prompt #this will show us our prompt template

GPT_Responses1 = prompt_template1.format_messages(
                    OBJECT=survey_input)

TEST1 = chat(GPT_Responses1)
TEST1 = TEST1.content

template_string2 = """A survey respondent was asked, "Why did you move?" \
"{OBJECT}" \
Please determine how many of the following reasons for moving they provide from this list: \
{CATEGORY} \
Next, provide your answer as a 1 if yes and a 0 if no in JSON format \
Here's an example of how you should format your response: \
{EXAMPLE}"""

prompt_template2 = ChatPromptTemplate.from_template(template_string2)
prompt_template2.messages[0].prompt #this will show us our prompt template

GPT_Responses2 = prompt_template2.format_messages(
                    OBJECT=TEST1,
                    CATEGORY=category,
                    EXAMPLE=example_JSON)

TEST2 = chat(GPT_Responses2)
TEST2 = TEST2.content
print(TEST1)
print(TEST2)

This respondent moved because they didn't like the place and found it difficult due to strange new people and lots of rules.
{ "1": "0", "2": "0", "3": "0", "4": "0", "5": "0", "6": "0", "7": "1", "8": "0", "9": "0", "10": "1", "11": "0", "12": "0", "13": "0" }

In [27]:
for index, row in No_Match.iterrows():
    survey_input = row[survey_participant_input]
    response = prompt_template1.format_messages(
                    OBJECT=survey_input)

    response = chat(response)
    
    # Assuming a successful attempt means a non-empty response
    if response.content:
        print(f"Successful attempt for row number for chain 1: {index}")
    
    No_Match.at[index, 'Key_Reasons'] = response.content

for index, row in No_Match.iterrows():
    survey_input = row['Key_Reasons']
    response = prompt_template2.format_messages(
                    OBJECT=survey_input,
                    CATEGORY=category,
                    EXAMPLE=example_JSON)

    response = chat(response)
    
    # Assuming a successful attempt means a non-empty response
    if response.content:
        print(f"Successful attempt for row number for chain 2: {index}")
    
    No_Match.at[index, 'JSON'] = response.content

Successful attempt for row number for chain 1: 4
Successful attempt for row number for chain 1: 25
Successful attempt for row number for chain 1: 33
Successful attempt for row number for chain 1: 38
Successful attempt for row number for chain 1: 52
Successful attempt for row number for chain 1: 65
Successful attempt for row number for chain 1: 71
Successful attempt for row number for chain 1: 76
Successful attempt for row number for chain 1: 96
Successful attempt for row number for chain 1: 100
Successful attempt for row number for chain 1: 109
Successful attempt for row number for chain 1: 110
Successful attempt for row number for chain 1: 124
Successful attempt for row number for chain 1: 130
Successful attempt for row number for chain 1: 138
Successful attempt for row number for chain 1: 143
Successful attempt for row number for chain 1: 150
Successful attempt for row number for chain 1: 153
Successful attempt for row number for chain 1: 178
Successful attempt for row number for chain 1: 188
Successful attempt for row number for chain 1: 189
Successful attempt for row number for chain 1: 215
Successful attempt for row number for chain 1: 222
Successful attempt for row number for chain 1: 223
Successful attempt for row number for chain 1: 228
Successful attempt for row number for chain 1: 237
Successful attempt for row number for chain 1: 239
Successful attempt for row number for chain 1: 246
Successful attempt for row number for chain 1: 279
Successful attempt for row number for chain 1: 285
Successful attempt for row number for chain 1: 295
Successful attempt for row number for chain 1: 328
Successful attempt for row number for chain 1: 346
Successful attempt for row number for chain 1: 356
Successful attempt for row number for chain 1: 360
Successful attempt for row number for chain 1: 375
Successful attempt for row number for chain 1: 376
Successful attempt for row number for chain 1: 379
Successful attempt for row number for chain 1: 385
Successful attempt for row number for chain 1: 397
Successful attempt for row number for chain 1: 400
Successful attempt for row number for chain 1: 410
Successful attempt for row number for chain 1: 415
Successful attempt for row number for chain 2: 4
Successful attempt for row number for chain 2: 25
Successful attempt for row number for chain 2: 33
Successful attempt for row number for chain 2: 38
Successful attempt for row number for chain 2: 52
Successful attempt for row number for chain 2: 65
Successful attempt for row number for chain 2: 71
Successful attempt for row number for chain 2: 76
Successful attempt for row number for chain 2: 96
Successful attempt for row number for chain 2: 100
Successful attempt for row number for chain 2: 109
Successful attempt for row number for chain 2: 110
Successful attempt for row number for chain 2: 124
Successful attempt for row number for chain 2: 130
Successful attempt for row number for chain 2: 138
Successful attempt for row number for chain 2: 143
Successful attempt for row number for chain 2: 150
Successful attempt for row number for chain 2: 153
Successful attempt for row number for chain 2: 178
Successful attempt for row number for chain 2: 188
Successful attempt for row number for chain 2: 189
Successful attempt for row number for chain 2: 215
Successful attempt for row number for chain 2: 222
Successful attempt for row number for chain 2: 223
Successful attempt for row number for chain 2: 228
Successful attempt for row number for chain 2: 237
Successful attempt for row number for chain 2: 239
Successful attempt for row number for chain 2: 246
Successful attempt for row number for chain 2: 279
Successful attempt for row number for chain 2: 285
Successful attempt for row number for chain 2: 295
Successful attempt for row number for chain 2: 328
Successful attempt for row number for chain 2: 346
Successful attempt for row number for chain 2: 356
Successful attempt for row number for chain 2: 360
Successful attempt for row number for chain 2: 375
Successful attempt for row number for chain 2: 376
Successful attempt for row number for chain 2: 379
Successful attempt for row number for chain 2: 385
Successful attempt for row number for chain 2: 397
Successful attempt for row number for chain 2: 400
Successful attempt for row number for chain 2: 410
Successful attempt for row number for chain 2: 415

In [33]:
normalized_data_list = []
error_lines = []

for i, json_str in enumerate(No_Match['JSON']):
    try:
        parsed_obj = json.loads(json_str)
        normalized_data_list.append(pd.json_normalize(parsed_obj))
    except json.JSONDecodeError:
        error_lines.append(i)
        continue

# Concatenate the normalized data into one DataFrame
normalized_data = pd.concat(normalized_data_list, ignore_index=True)
normalized_data.index = No_Match.index

error_lines

[]

In [34]:
normalized_data

     1  2  3  4  5  6  7  8  9 10 11 12 13
4    0  0  0  0  0  0  0  0  0  0  0  0  0
25   0  0  0  0  0  0  0  0  0  1  0  0  0
33   0  0  0  0  0  1  0  0  0  0  0  0  0
38   0  0  0  0  0  1  0  0  0  1  0  0  0
52   0  1  0  0  0  0  0  0  0  1  0  0  0
65   1  0  0  0  0  0  0  0  0  0  0  0  0
71   0  0  0  0  0  0  0  0  0  0  0  1  0
76   0  0  1  0  0  0  1  0  0  0  0  0  0
96   0  0  0  0  0  0  0  0  0  0  0  0  0
100  0  0  0  0  0  0  0  1  1  0  0  0  0
109  0  0  0  0  1  0  0  0  0  0  0  0  0
110  0  0  0  0  0  0  1  0  0  0  0  0  0
124  0  0  1  0  0  0  1  0  0  0  0  0  0
130  0  0  0  0  0  1  0  0  0  0  0  0  0
138  1  0  0  0  0  0  0  0  0  0  0  0  0
143  0  0  0  0  0  0  0  0  1  0  0  0  0
150  0  0  0  0  0  0  0  0  0  0  0  0  0
153  0  0  0  0  0  0  0  0  0  0  0  0  0
178  0  0  0  0  0  0  0  0  0  0  0  0  0
188  0  0  0  0  1  0  0  0  0  0  0  0  0
189  0  0  0  0  0  0  0  0  0  0  0  0  0
215  0  0  0  0  1  1  0  0  0  0  0  0  0
222  0  0  0  0  0  0  0  0  0  0  0  0  0
223  0  0  0  0  0  0  0  0  0  0  1  0  0
228  0  0  1  0  0  0  0  0  0  0  0  0  0
237  0  0  0  0  0  0  0  0  1  0  0  0  0
239  0  0  0  0  0  0  0  0  0  1  0  0  0
246  0  1  1  0  0  0  0  0  0  0  0  0  0
279  0  0  0  0  0  0  0  0  1  0  0  0  0
285  0  0  0  0  0  0  0  0  0  0  0  0  0
295  0  1  0  0  1  0  0  0  0  0  0  0  0
328  0  0  0  0  0  1  0  0  0  0  0  0  0
346  0  0  0  0  0  0  0  1  0  0  0  0  0
356  0  0  0  0  0  0  0  0  0  1  0  0  0
360  0  0  0  1  0  0  0  0  0  0  0  0  0
375  0  0  1  0  1  0  0  0  0  0  0  0  0
376  0  0  0  0  0  1  0  0  0  0  0  0  0
379  1  0  0  0  0  0  0  0  0  0  0  0  0
385  0  0  0  0  1  0  0  0  0  0  0  0  0
397  0  0  0  0  0  0  0  0  0  0  0  0  0
400  0  0  1  0  0  0  1  0  0  0  0  0  0
410  0  0  0  0  0  1  0  0  0  1  0  0  0
415  0  0  0  0  0  0  0  1  0  1  0  0  0

In [35]:
No_Match['gpt_category_id'] = normalized_data.apply(lambda row: ''.join(row.astype(str)), axis=1)
No_Match

/var/folders/89/6bdxzk2j30v5n3wstywbcpg80000gn/T/ipykernel_88215/2444947372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  No_Match['gpt_category_id'] = normalized_data.apply(lambda row: ''.join(row.astype(str)), axis=1)

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely",New living environment,Family Support,Meet and Make Friends,Conflicts,...,re_category_id,All_Match,CF_RE_Match,CF_CS_Match,RE_CS_Match,No_Match,Response,Key_Reasons,JSON,gpt_category_id
4,0,0,0,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,wanted to live in my own place outside my pare...,This respondent moved because they wanted inde...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000000000
25,0,0,0,0,0,0,0,0,0,1,...,0000000010000,0,0,0,0,1,because i didn't like the place. very difficul...,This respondent moved because they didn't like...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000000001000
33,0,0,0,0,0,1,0,0,0,0,...,0000010000100,0,0,0,0,1,move #1 - 60 day notice from landlordmove #2 -...,This respondent moved because of a notice from...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000010000000
38,0,0,0,0,0,0,1,0,0,0,...,0000000001000,0,0,0,0,1,the apartment complex was too loud. moved to a...,This respondent moved because the apartment co...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000010001000
52,0,0,0,0,0,0,0,0,0,1,...,0100000000000,0,0,0,0,1,domestic problems.,This respondent moved because of domestic prob...,"{\n""1"": ""0"",\n""2"": ""1"",\n""3"": ""0"",\n""4"": ""0"",\...",0100000001000
65,0,0,0,0,0,0,0,0,0,0,...,0000000000010,0,0,0,0,1,moved in with kat,This respondent moved because they moved in wi...,"{\n""1"": ""1"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",1000000000000
71,0,0,0,0,1,1,0,0,0,0,...,0000011000000,0,0,0,0,1,moved to a smaller home that we own in a gated...,This respondent moved because they wanted a sa...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000000000010
76,0,0,1,0,0,0,1,0,0,0,...,0000001010000,0,0,0,0,1,i finished law school and didn't want to live ...,This respondent moved because they finished la...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""1"", ""4"": ""0"", ""5"":...",0010001000000
96,0,0,0,0,0,0,0,0,0,0,...,0000100000000,0,0,0,0,1,"i was in a transitional house, and i had to mo...",This respondent moved because they were in a t...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000000000
100,0,0,1,0,1,0,0,1,1,0,...,0010100110010,0,0,0,0,1,(i'm not sure how i answered the move since la...,This respondent moved because of retirement an...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000000110000
109,0,0,0,0,1,0,0,0,0,1,...,0000100000000,0,0,0,0,1,i moved because two reasons: i had a work inju...,This respondent moved because of a work injury...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000100000000
110,0,0,0,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,i was just trying to get into my own place again.,This respondent moved because they wanted inde...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000001000000
124,0,0,1,0,0,0,1,0,1,0,...,0000000010000,0,0,0,0,1,i was living in berkeley at that time as a stu...,"This respondent moved because they graduated, ...","{""1"": ""0"", ""2"": ""0"", ""3"": ""1"", ""4"": ""0"", ""5"": ...",0010001000000
130,0,0,0,0,1,0,0,1,0,0,...,0000100000000,0,0,0,0,1,because my sister passed away and i was taking...,This respondent moved because their sister pas...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000010000000
138,0,0,0,0,0,0,0,0,0,0,...,0000000000010,0,0,0,0,1,moved in with someone,This respondent moved because they moved in wi...,"{""1"": ""1"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"": ...",1000000000000
143,0,1,0,0,0,1,1,0,0,0,...,0000001000000,0,0,0,0,1,i had lived in an apartment near the cal campu...,This respondent moved because they wanted a qu...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000010000
150,0,0,0,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,i moved to get my own place.,This respondent moved because they wanted inde...,"{""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"": ...",0000000000000
153,0,0,0,0,1,0,0,0,0,0,...,0000100000000,0,0,0,0,1,we downsized in order to buy this new home and...,This respondent moved because they downsized a...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000000000000
178,0,0,0,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,got my own apartment,This respondent moved because they got their o...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000000000
188,0,0,0,0,1,0,0,0,0,0,...,0100111000000,0,0,0,0,1,"i inherited money after my aunt (july 13, 2016...",This respondent moved because they inherited m...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000100000000
189,0,0,0,0,0,0,0,0,0,0,...,0000000000001,0,0,0,0,1,cathy's work,This respondent moved because of Cathy's work.,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000000000
215,0,0,0,0,1,0,1,0,0,0,...,0000110000000,0,0,0,0,1,found newer and cheaper apartment near the train.,This respondent moved because of a newer and c...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000110000000
222,0,0,0,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,moved to a more permanent house in the city,This respondent moved because they wanted a mo...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000000000
223,0,0,0,0,1,0,0,0,0,0,...,0000000000010,0,0,0,0,1,became homeless,This respondent moved because they became home...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000000100
228,0,0,1,0,0,0,0,0,0,0,...,0010000000000,0,0,0,0,1,i move with semesters in school. when a new se...,This respondent moved because of school semest...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""1"", ""4"": ""0"", ""5"":...",0010000000000
237,0,0,0,0,0,0,0,0,0,0,...,0000000000010,0,0,0,0,1,my old roommate was leaving so i moved in with...,This respondent moved because their old roomma...,"{""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"": ...",0000000010000
239,0,0,0,0,0,0,0,0,0,0,...,0000000000010,0,0,0,0,1,previous roommates were married and looking to...,This respondent moved because their roommates ...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000001000
246,0,1,1,0,0,0,0,0,0,0,...,0110001000000,0,0,0,0,1,move #1: broke up wi my girlfriend who i had b...,"This respondent moved because of a breakup, a ...","{\n""1"": ""0"",\n""2"": ""1"",\n""3"": ""1"",\n""4"": ""0"",\...",0110000000000
279,0,0,0,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,i was living with roommates and i got the oppo...,This respondent moved because they wanted to l...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000000010000
285,0,0,0,0,0,0,0,0,0,0,...,0000000000001,0,0,0,0,1,we have the house back to an old tenant,This respondent moved because they returned th...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000000000
295,0,1,0,0,1,0,0,0,0,0,...,0000100000100,0,0,0,0,1,"i moved in with a couple, esther and elliot. w...",This respondent moved because they couldn't af...,"{\n""1"": ""0"",\n""2"": ""1"",\n""3"": ""0"",\n""4"": ""0"",\...",0100100000000
328,0,0,0,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,"i have always lived with roommates, and i want...",This respondent moved because they wanted to e...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000010000000
346,0,0,0,0,0,0,0,0,0,0,...,0000000100000,0,0,0,0,1,moved back home.,This respondent moved because they moved back ...,"{""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"": ...",0000000100000
356,0,0,0,0,0,0,0,0,0,0,...,0000000000010,0,0,0,0,1,old place sucked,This respondent moved because the old place su...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000000001000
360,0,0,0,1,0,0,0,0,0,0,...,0001001000000,0,0,0,0,1,boyfriend started grad school in a new city an...,This respondent moved because boyfriend starte...,"{""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""1"", ""5"": ...",0001000000000
375,0,0,1,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,i'm always moving. i think this time last year...,This respondent moved because they worked too ...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""1"",\n""4"": ""0"",\...",0010100000000
376,1,0,1,0,0,0,1,0,0,0,...,1000001000000,0,0,0,0,1,"i had lived right downtown for eight years, ev...",This respondent moved because they prioritized...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000010000000
379,0,0,0,0,0,0,0,0,0,0,...,0000000000010,0,0,0,0,1,wanted to move in with jennifer.,This respondent moved because they wanted to m...,"{\n""1"": ""1"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",1000000000000
385,0,0,0,0,1,0,0,0,0,0,...,0000100000000,0,0,0,0,1,could not afford to pay rent in previous apart...,This respondent moved because they couldn't af...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000100000000
397,0,0,0,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,try to build better habits by leaving my paren...,This respondent moved because they wanted to b...,"{\n""1"": ""0"",\n""2"": ""0"",\n""3"": ""0"",\n""4"": ""0"",\...",0000000000000
400,0,0,1,0,0,0,0,0,0,0,...,0000001000000,0,0,0,0,1,there was a drop in job opportunity and we wan...,This respondent moved because of a drop in job...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""1"", ""4"": ""0"", ""5"":...",0010001000000
410,0,0,0,0,0,1,1,1,0,0,...,0000000000000,0,0,0,0,1,"my family and i (formally 5 members total, now...",This respondent moved because of cramped space...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000010001000
415,0,0,0,0,0,0,0,1,0,1,...,0000000001000,0,0,0,0,1,i was living with my father and my step- mothe...,This respondent moved because: conflicts with ...,"{ ""1"": ""0"", ""2"": ""0"", ""3"": ""0"", ""4"": ""0"", ""5"":...",0000000101000

In [36]:
gpt_category_id = No_Match['gpt_category_id']
gpt_category_id

4      0000000000000
25     0000000001000
33     0000010000000
38     0000010001000
52     0100000001000
65     1000000000000
71     0000000000010
76     0010001000000
96     0000000000000
100    0000000110000
109    0000100000000
110    0000001000000
124    0010001000000
130    0000010000000
138    1000000000000
143    0000000010000
150    0000000000000
153    0000000000000
178    0000000000000
188    0000100000000
189    0000000000000
215    0000110000000
222    0000000000000
223    0000000000100
228    0010000000000
237    0000000010000
239    0000000001000
246    0110000000000
279    0000000010000
285    0000000000000
295    0100100000000
328    0000010000000
346    0000000100000
356    0000000001000
360    0001000000000
375    0010100000000
376    0000010000000
379    1000000000000
385    0000100000000
397    0000000000000
400    0010001000000
410    0000010001000
415    0000000101000
Name: gpt_category_id, dtype: object

In [37]:
Claude_GPT = pd.concat([Claude, gpt_category_id], axis=1)
Claude_GPT

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely",New living environment,Family Support,Meet and Make Friends,Conflicts,...,cf_category_id,cs_category_id,re_category_id,All_Match,CF_RE_Match,CF_CS_Match,RE_CS_Match,No_Match,Response,gpt_category_id
0,0,0,0,0,0,0,0,1,0,0,...,0000000100000,0000000100000,0000000100000,1,1,1,1,0,relocated back to east coast - closer to my sons,NaN
1,1,0,0,0,0,0,0,0,0,0,...,1000000000000,1000000000000,1000000000000,1,1,1,1,0,move in together with my partner,NaN
2,1,0,0,0,0,0,0,0,0,0,...,1000000000000,1000000000000,1000000000000,1,1,1,1,0,"out of living with my friends, and into living...",NaN
3,0,0,1,0,0,0,1,0,0,0,...,0010001000000,0010001000000,0010001000000,1,1,1,1,0,to take a new job in new york city (both becau...,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0000010100000,0000000000010,0000001000000,0,0,0,0,1,wanted to live in my own place outside my pare...,0000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,0,0,0,0,0,0,0,0,0,0,...,0000000000010,0000000000000,0000000000010,0,1,0,0,0,moved in with limi to help take care of her th...,NaN
419,0,0,0,0,0,0,0,1,0,0,...,0000000100000,0000000100000,0000000100000,1,1,1,1,0,to live with my family,NaN
420,0,0,0,0,1,0,0,0,0,0,...,0000100000000,0000100000000,0000100000000,1,1,1,1,0,my apartment rent was increasing and it was to...,NaN
421,1,0,0,0,0,0,0,0,0,0,...,1000000000000,1000000000000,1000000000000,1,1,1,1,0,i moved in with my significant other.,NaN
422,0,0,0,0,0,1,0,0,0,0,...,0000010000000,0000010000010,0000010000000,0,1,0,0,0,needed to find our own apartment (as opposed t...,NaN

In [38]:
Claude_GPT.to_csv('/Users/chrissoria/Documents/Research/UCNets_Classification/Hand_Coding_Surveys/a19i/Claude_GPT.csv')

In [42]:
Claude_GPT['CF_GP_Match'] = Claude_GPT.apply(lambda row: 1 if row['cf_category_id'] == row['gpt_category_id'] else 0, axis = 1)
Claude_GPT['CS_GP_Match'] = Claude_GPT.apply(lambda row: 1 if row['cs_category_id'] == row['gpt_category_id'] else 0, axis = 1)
Claude_GPT['RE_GP_Match'] = Claude_GPT.apply(lambda row: 1 if row['re_category_id'] == row['gpt_category_id'] else 0, axis = 1)

In [43]:
Claude_GPT

,Partner or spouse,Relationship end,Own job/school/career,Partner’s job/school/career,Financial,"Housing, concretely",New living environment,Family Support,Meet and Make Friends,Conflicts,...,All_Match,CF_RE_Match,CF_CS_Match,RE_CS_Match,No_Match,Response,gpt_category_id,CF_GP_Match,CS_GP_Match,RE_GP_Match
0,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,0,relocated back to east coast - closer to my sons,NaN,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,move in together with my partner,NaN,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,"out of living with my friends, and into living...",NaN,0,0,0
3,0,0,1,0,0,0,1,0,0,0,...,1,1,1,1,0,to take a new job in new york city (both becau...,NaN,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,wanted to live in my own place outside my pare...,0000000000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,moved in with limi to help take care of her th...,NaN,0,0,0
419,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,0,to live with my family,NaN,0,0,0
420,0,0,0,0,1,0,0,0,0,0,...,1,1,1,1,0,my apartment rent was increasing and it was to...,NaN,0,0,0
421,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,i moved in with my significant other.,NaN,0,0,0
422,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,needed to find our own apartment (as opposed t...,NaN,0,0,0

In [44]:
Claude_GPT.to_csv('/Users/chrissoria/Documents/Research/UCNets_Classification/Hand_Coding_Surveys/a19i/Claude_GPT.csv')

In [45]:
columns_to_replace = Claude_GPT.columns[0:12]

Claude_GPT.loc[Claude_GPT['CF_GP_Match'] == 1, columns_to_replace] = Claude_GPT.loc[Claude_GPT.index[Claude_GPT['CF_GP_Match'] == 1], columns_to_replace]
Claude_GPT.loc[Claude_GPT['CF_GP_Match'] == 1, columns_to_replace] = Chris.loc[Claude_GPT.index[Claude_GPT['CF_GP_Match'] == 1], columns_to_replace]
Claude_GPT.loc[Claude_GPT['RE_GP_Match'] == 1, columns_to_replace] = Rebeca.loc[Claude_GPT.index[Claude_GPT['RE_GP_Match'] == 1], columns_to_replace]

Now let's update the no match column based on whether GPT matched any of our responses.

In [55]:
Claude_GPT['No_Match'] = Claude_GPT.apply(lambda row: 0 if row['CF_GP_Match'] == 1 or row['CS_GP_Match'] == 1 or row['RE_GP_Match'] == 1 else row['No_Match'], axis=1)

In [56]:
count_of_ones = sum(Claude_GPT['No_Match'] == 1)
reduction_rate = ((44 - count_of_ones) / 44) * 100
print("GPT was able to reduce rates of non-agreement by " + str(round(reduction_rate, 2)) + "%")

GPT was able to reduce rates of non-agreement by 43.18%

In [57]:
Claude_GPT.to_csv('/Users/chrissoria/Documents/Research/UCNets_Classification/Hand_Coding_Surveys/a19i/Master_Codes_a19i.csv', index = False)

I adjusted line 412 to add "financial"
378 I removed own job and partner's job
377 I added new living environment
358 changed to not clear
297 removed "relationship end"
241 changed it away from "forced to move"
239 changed it to "other reason"
155 I added housing features
145 I removed relationship end
126 I removed meet friends